.another
{
    margin-top: 0;
}
.boxer
{
    margin-top: 30px;
}
.main
{
    padding-bottom: 50px;
}
.test
{
    background: blue;
}
.grey
{
    color: gray;
}
.imager
{
    margin-bottom: 0.5em;
    border-radius: 15px;
    box-shadow: 2px 2px 1px gray;
}
@media screen and (min-width: 600px)
{
    .another
    {
        margin-top: -250px;
    }
}