.titleArea {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  border-bottom: 3px solid #b2b3bd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.success {
  color: #1dc071;
  margin-right: 1rem;
}
.withdrawRequestButton {
  /* background-color: #1dc071; */
  background-color: #6f49fd !important;
  /* background-color: #e2dbff !important; */
  text-transform: none;
  padding: 10px 15px;
  margin-bottom: 1rem;
}

.approvalButton {
  /* color: #1dc071; */
  background-color: #1dc071 !important;
}

.approvalButton :hover {
  color: #1dc071;
}

.formSubmitButton {
  /* background-color: #1dc071; */
  background-color: #6f49fd;
  color: white;
  font-weight: bold;
  width: 100%;
  min-height: 50px;
}
.formSubmitButton :hover {
  color: #1dc071 !important;
  background-color: #6f49fd !important;
}

.remaining {
  color: grey;
  margin-right: 1rem;
}
